# QPay Merchant credentials — qpay.mn-ээс авна
QPAY_USERNAME=TEST_MERCHANT
QPAY_PASSWORD=WBDUzy8n
QPAY_INVOICE_CODE=TEST_INVOICE

# PostgreSQL тохиргоо
DB_HOST=****
DB_PORT=***
DB_USER=****
DB_PASSWORD=****
DB_NAME=****

BASE_URL=http://localhost:xxxx
